body {
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	font-weight: bold;
	font-family: PT Sans Narrow, Sans-serif;
}

h1 {
	font-size: 30px;
	line-height: 42px;
	color: #000000;
	font-weight: bold;
	font-family: PT Sans Narrow, Sans-serif;
}

h2 {
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	font-weight: bold;
	font-family: PT Sans Narrow, Sans-serif;
}

a {
	text-decoration: none;
}

header {
	min-height: 70px;
}

.container {
	margin: 0 auto;
	width: 940px;
	padding: 0 10px;
}

.main-navigation {
	float: left;
	width: 780px;
}

.main-navigation li {
	margin-right: 20px;
}

.breadcrumbs li {
	margin-right: 20px;
}

.breadcrumbs ul {
	padding: 0;
}

.user-block {
	float: right;
	width: 140px;
}

.breadcrumbs li, header li, .pages li {
	display: inline;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.filters {
	float: left;
	width: 220px;
}

.products-item {
	float: left;
	line-height: 18px;
	word-wrap: break-word;
	width: 220px;
	min-height: 286px;
	margin-right: 20px;
}

.products .products-item:nth-of-type(3n) {
	margin-right: 0;
}

.products-item h2 {
	font-size: 14px;
	line-height: 18px;
}

.products {
	margin: 0 auto;
	width: 700px;
	float: left;
}

.contacts {
	float: left;
	width: 310px;
	margin-right: 90px;
}

.soc-networks {
	float: left;
	width: 140px;
}

.authors {
	width: 140px;
	float: right;
}

.images {
	float: left;
	width: 460px;
}

.secondary-item-img {
	margin-top: 20px;
	margin-right: 17px;
}

.secondary-item-img:last-child {
	margin-right: 0;
}

.info {
	width: 390px;
	float: right;
}